.heroContainer {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		90deg,
		rgb(139, 230, 60) 0%,
		#5b970d 100%,
		rgba(0, 212, 255, 1) 100%
	);
	background-size: 300% 300%;
	animation: gradientAnimation 4s ease infinite;
	padding-top: 10rem;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
	height: 100%;
	margin: 0 20px;
	display: flex;
	flex-direction: column-reverse;
}

.cardImage {
	box-shadow: 0 5px 20px 0 rgba(33, 44, 66, 0.2);
	position: relative; /* Ajustado */
	z-index: 1; /* Ajustado */
}
.cardImage img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cardInfo {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	align-items: center;
}

.cardTitle {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 48px;
	line-height: 56px;
	font-weight: 500;
	color: var(--color-white);
}

@media screen and (min-width: 860px) {
	.heroContainer {
		height: 80vh;
		clip-path: polygon(0 1%, 100% 0%, 100% 86%, 0% 100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card {
		height: 80vh;
		width: 1200px;
		margin: 0;
		display: inline-flex;
		flex-direction: row;
	}

	.cardImage {
		height: 100%;
		width: 50%;
		border-top-left-radius: 50px;
		overflow: hidden;
	}

	.cardTitle {
		font-size: 4rem;
		line-height: 5rem;
	}

	.cardInfo {
		width: 50%;
		overflow: hidden;
		text-align: start;
		align-items: start;
		justify-content: center;
		margin-left: 2rem;
	}
}
