main {
	display: flex;
	flex-direction: column;
	color: #697476;
}

.welcome {
	height: 100vh;
	background-color: #122429;
	display: grid;
	grid-auto-rows: 1fr;
	padding: 3rem 6rem;
}

.welcome h1 {
	color: var(--color-white);
	font-size: 3.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.welcome h3 {
	color: var(--color-white);
	font-size: 2rem;
	font-weight: 300;
	width: 18ch;
	margin-bottom: 1.5rem;
}

.welcome p {
	margin-top: 2rem;
	line-height: 1.2rem;
	max-width: 540px;
}

.about,
.services {
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.services {
	flex-direction: column-reverse;
}

.aboutText,
.servicesText {
	padding: 5rem;
}

.servicesText {
	text-align: right;
}

.about h3,
.services h3 {
	color: var(--color-black);
	font-size: 2rem;
	font-weight: 300;
	width: 18ch;
	margin-bottom: 1.5rem;
}

.about img,
.services img {
	width: 100%;
	max-height: 50vh;
	object-fit: cover;
}

@media screen and (min-width: 1024px) {
	main {
		display: grid;
		grid-template-columns: 1.4fr 1fr 1fr;
		width: 100vw;
		height: 100vh;
		color: #697476;
	}

	.welcome {
		background-color: #122429;
		display: grid;
		grid-auto-rows: 1fr;
		padding: 3rem 6rem;
	}

	.welcome h1 {
		color: var(--color-white);
		font-size: 3.5rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}

	h3 {
		color: var(--color-black);
		font-size: 2rem;
		font-weight: 300;
		width: 18ch;
	}

	.headerWhite {
		color: var(--color-white);
	}

	.welcome p {
		margin-top: 2rem;
		line-height: 2rem;
		max-width: 35ch;
	}

	.welcome footer {
		align-self: self-end;
	}

	.welcome footer .footerList {
		display: flex;
		justify-content: space-around;
	}

	.about,
	.services {
		background-color: var(--color-white);
		display: grid;
		grid-template-rows: 2fr 1fr;
		height: 100vh;
	}

	.about .aboutText,
	.services .servicesText {
		padding: 6rem;
	}

	.about .aboutText h3,
	.services .servicesText h3 {
		margin-bottom: 2rem;
	}

	.about .aboutText p:last-child,
	.services .servicesText p:last-child {
		padding-top: 2rem;
		text-decoration: underline;
		transition: ease-in-out all 0.2s;
	}

	.about .aboutText p:last-child:hover,
	.services .servicesText p:last-child:hover {
		font-weight: 500;
		cursor: pointer;
	}
}
