footer {
	align-self: self-end;
}

.footerList {
	display: flex;
	justify-content: space-around;
}

.footerList li {
	list-style: none;
}

.footerList li a {
	color: #697476;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2rem;
	transition: ease-in-out all 0.2s;
}

.footerList li a:hover {
	color: var(--color-white);
}
